@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
html {
	overflow-y: scroll;
}
body {
  font-family: Tahoma;
  font-size:14px;
  background-color: #E8FAF5; /* efefef*/
}
/* Page Construction */
#online {
	text-align: right;
	font-size: 12px;
	width: 680px;
	margin: -5px auto -18px auto;	
}
nav {
	margin: -15px 0;
	


}
#wrap {
	width: 902px; 
	margin: auto auto;
}
#left { /* Navigation */
	width: 110px;
	float:left;
	margin-top: 150px;
	background-color: #fff;
	z-index: -1;
	border-radius: 10px 0 0 10px;
	box-shadow: 1px 1px 10px #999;
}

#right { /* Ad placement - Not active */
	width: 110px;
	float:right;
	margin-top: 150px;
	margin-right: -20px;
	background-color: #fff;
	z-index: -1;
	border-radius: 0px 10 10 0px;
	box-shadow: 1px 1px 10px #999
}

#mid { /* Header + Content */
	width: 700px;
	float:left;
	margin-top: 150px;
	z-index: 6;
	border:1px solid #efefef;
	margin:25px auto 1px auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 1px 10px #999;
}

/* Mid */
header {
	width: 691px;
	
	color:black;
	height:120px;
	margin: -1px -1px 0 10px;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	 background-image:url(img/wh2logo_v2.png);
	 background-position: right;
	 background-repeat: no-repeat;
	 border-bottom:1px solid #d7d7d7;
}
#top { /* Username + wkr */
	float:left;
}
#content {
	color: black;
	margin: 15px;
	min-height:170px;
	word-wrap:break-word;
	padding-bottom: 5px;
}

footer {
	font-size: 10px;
	width: 700px;
	text-align: center;
	margin: 6px auto 0 auto;
}
/**/


/* Other Style 
::-webkit-scrollbar { 
    display: none; 
}*/

hr {
	border: 0;
	border-bottom: 1px solid #d7d7d7;
	margin-bottom: 15px;
}
ul { padding: 10px; line-height: 25px;}
li { list-style-type: none; }
h1 {
	margin: 5px;
	color: purple;
	font-weight: normal;
	font-size: 32px;
}
h2 {
	font-size:20px;
	color:purple;
	margin-top:-10px;
	font-weight:normal;
}
.f_hea {
	font-size:20px;
	color:purple;
	margin-top:-10px;
}

a:link {color: #000000; border-bottom: 0 #1a1a1a dashed; text-decoration:none; }  
a:visited {color: #000000; border-bottom: 0 #1a1a1a dashed; text-decoration:none; }    
a:active {color: #000000; border-bottom: 0 #1a1a1a dashed; text-decoration:none; }      
a:hover{ color: #000000; border-bottom: 1pt #ffffff dotted; text-transform: bold; }

input {
	display:solid;
	border: 0 solid #999;
	height: 24px;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
table { font-size:13px; }
th {
	background-color: #518A4A;
	padding: 0 5px;
}
td {
	padding: 0 5px;
	font-size: 15px;
	background: white;
}


/* til top 10 .. */
a.popup {
	position: relative;
}
a.popup span {
	display: none;
}
a.popup:hover span {
	position: absolute;
	top: 4em;
	display: block;
	z-index: 10;
}
a.popup:hover {
  font-size: 100%;
}
/* PROGRESS BAR */
progress {
	margin: 5px 0;
	width: 100%;
	height: 15px;
	display: block;
	-webkit-appearance: none;
	border: 1px solid #2980b9;
    border-radius: 20px;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: #ecf0f1;
	border-radius: 20px;
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 20px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #2980b9, #2980b9);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: 100px 0px, 0 0, 0 0}
}
/* Buttons */
.btn {
    border: 1px solid #7f8c8d;
    background-color: #ecf0f1;
    border-radius: 2px;
	text-decoration:none;
	cursor: pointer;
	min-width: 55px;
}
.btn:hover {
    background-color: #ddd;
}